
<div class="container" ng-controller="getTableController" >
<tab-directive data="bookArray"> </tab-directive>
</div>
 

















<!-- <table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Book Title</th>
      <th>Year</th>
      <th>Favorite</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="bdk in bookArray">
      <th scope="row">{{bdk.id}}</th>
      <td><a ng-href="#/editBook/{{bdk.id}}" data-ng-click="edit(bdk.id)" >{{bdk.title}}</a></td>
      <td>{{bdk.year}}</td>
      <td>{{bdk.favorite}}</td>
      <th><a href="#deleteBook"data-ng-click="delete(bdk.id)">Delete</a></td>
      </th>
    </tr>
  </tbody>
</table> -->